.filtros {
  background-color: whitesmoke;
  padding: 20px;
}

.resultados {
  padding: 20px;
  width: 80%;
}

.opciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.opciones div {
  min-width: 220px;
}

.oferta {
  padding: 20px 0px;
  border-bottom: solid whitesmoke 1px;
  border-top: solid whitesmoke 1px;
}

.resultados select {
  border: solid #1697ef 1px !important;
  background: whitesmoke;
  height: 38px;
  width: 100%;
  font-size: 16px !important;
  font-family: "Roboto", sans-serif !important;
  color: #413d3d !important;
  padding: 0px 5px !important;
  margin: 5px 0px;
}

/* A partir de M */
@media all and (min-width: 768px) {
  .ofertas {
    display: flex;
  }
  .filtros {
    max-width: 300px;
    margin-left: 13%;
    position: absolute;
    height: auto;
    padding-bottom: 300px;
  }
  .resultados {
    margin-right: 9%;
    margin-left: 240px;
  }
}
