.pageList {
  min-height: 700px;
}

.not {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: #1697ef;
}

.buttonsPagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0px 40px;
  border: none;
}

.buttonPagination:focus {
  background-color: #1697ef;
  color: white;
}

.disabled {
  color: red;
  opacity: 0.6;
  cursor: not-allowed;
}

[id^="arrow"] {
  cursor: pointer;
}
