.sponsors {
  padding: 60px 30px;
  background-color: lightgray;
  color: grey;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box div {
  margin: 15px 0px;
}

.sponsorsLogo div {
  max-width: 200px;
  display: flex !important;
  justify-content: center;
}

.square {
  width: 190px;
  height: 130px;
  background-color: gray;
}

/* A partir de M */
@media all and (min-width: 768px) {
  .square {
    width: 220px;
  }
  .box {
    align-items: center;
  }
  .sponsorsLogo div {
    max-width: 160px;
  }
}
