.empresas_especiales_mobile {
  display: flex;
  flex-direction: column;
}
.empresas_especiales_desktop {
  display: none;
}
.empresas_especiales {
  background-image: url("/images/IMAGENES_TAMAÑO/MOBILE/HOME_EMPRESAS_ESPECIALES_MOBILE.jpg");
  display: flex;
  padding: 60px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.empresas_especiales_box .feature {
  padding: 20px;
  max-width: 350px;
  min-width: 100px;
}

.subtitle3 {
  padding-right: 250px;
  margin-top: 10px;
  margin-bottom: 200px;
}

/* A partir de M */
@media all and (min-width: 768px) {
  .empresas_especiales_mobile {
    display: none;
  }
  .empresas_especiales_desktop {
    display: flex;
  }

  .empresas_especiales {
    background-image: url("/images/IMAGENES_TAMAÑO/DESKTOP/HOME_EMPRESAS_ESPECIALES.jpg");
  }

  .empresas_especiales_box {
    margin-right: 30%;
    margin-left: 10%;
  }

  .empresas_especiales_box .features {
    text-align: left !important;
  }

  .empresas_especiales_box .feature {
    max-width: 250px;
  }
  .empresas_especiales_box .feature .title3 {
    min-height: 88px;
    display: flex;
  }
  .subtitle {
  }
}
